@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

body {
  background-color: #223843;
  color: #eff1f3;
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}

.wrapper p {
  margin: 0;
  position: absolute;
  bottom: 8px;
  right: 16px;
  mix-blend-mode: overlay;
}

h1 {
  font-family: "Oleo Script Swash Caps", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 8px;
  right: 16px;
  mix-blend-mode: overlay;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
